<ion-fab vertical="bottom" horizontal="end" edge slot="fixed" class="mb-5">

  <ion-fab-button color="danger">
    <ion-icon name="person"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="end">
    <ion-fab-button>
      <ion-icon name="logo-vimeo"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

  <ion-fab-list *ngIf="!isAuth" side="top">
    <ion-fab-button color="primary" routerLink="/login">
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </ion-fab-button>
  </ion-fab-list>

  <ion-fab-list *ngIf="isAuth" side="top">
    <ion-fab-button color="warning" (click)="logout()">
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </ion-fab-button>
  </ion-fab-list>

</ion-fab>

<ion-header *ngIf="platformDetect() === 'other'">
  <ion-toolbar>
    <ion-title>Ana Sayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar *ngIf="platformDetect() === 'ios'" animated [(ngModel)]='searchText' placeholder="Ürün arayın">
</ion-searchbar>

<ion-searchbar *ngIf="platformDetect() === 'other'" class="mt-2" animated [(ngModel)]='searchText'
  placeholder="Ürün arayın"></ion-searchbar>








<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!admin">
    <ion-card *ngFor="let product of products | productsFilterPipe : searchText">
      <ion-img src={{product.imageUrl}} class="img-fluid mx-auto" style="width: 60%;"></ion-img>

      <ion-card-header>
        <ion-card-title>
          {{productTitle(product.name)}}
          <span *ngIf="product.inventoryQuantity" class="badge bg-success" style="font-size: 12px;">{{
            product.inventoryQuantity }}</span>
          <span *ngIf="!product.inventoryQuantity" class="badge bg-danger" style="font-size: 12px;">Stokta Yok</span>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <div class="row mx-auto" style="text-align: justify;">
          {{ product.name }}
          <p class="text-center mt-2" style="color: red; font-size: 30px;">{{product.price}} ₺</p>
        </div>

        <div class="row mt-3 mx-auto">
          <ion-button *ngIf="!admin" [disabled]="!product.inventoryQuantity" expand="block" class="w-75 mx-auto"
            (click)="addBasket(product.id)">
            Sepete Ekle
            <i class="fa fa-shopping-basket mx-2"></i>
          </ion-button>

          <ion-button *ngIf="admin" expand="block" class="w-75 mx-auto" color="warning">
            Düzenle
            <ion-icon name="pencil" class="mx-2"></ion-icon>
          </ion-button>
        </div>

      </ion-card-content>



    </ion-card>
  </div>

  <ion-grid *ngIf="admin">
    <ion-row>
      <ion-col size="6" *ngFor="let product of products | productsFilterPipe : searchText">
        <ion-card>
          <ion-img src={{product.imageUrl}} class="img-fluid mx-auto" style="width: 40%;"></ion-img>

          <ion-card-content>

            <div class="row mx-auto" style="text-align: justify;">
              <span style="font-size: 13px;">
                {{ product.name }}
              </span>
              <span *ngIf="product.inventoryQuantity" class="badge bg-success mt-1" style="font-size: 12px;">
                Stok Adedi : {{ product.inventoryQuantity }}</span>
              <span *ngIf="!product.inventoryQuantity" class="badge bg-danger" style="font-size: 12px;">
                Stokta Yok
              </span>
              <p class="text-center mt-2" style="color: red; font-size: 12px;">{{product.price}} ₺</p>
            </div>

            <div class="row">
              <ion-button *ngIf="admin" class="mx-auto btn-sm" color="warning" style="text-align: center;"
                (click)="update(product.codeGuid)">
                Güncelle
              </ion-button>
              <ion-button *ngIf="admin" class="mx-auto btn-sm" color="danger" style="text-align: center;"
                (click)="delete(product)">
                Sil
              </ion-button>
            </div>

          </ion-card-content>



        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>