<ion-header *ngIf="platformDetect() === 'ios'" collapse="fade">
  <ion-toolbar>
    <ion-searchbar class="mt-3" animated [(ngModel)]='searchText' placeholder="Ürün arayın"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="platformDetect() === 'other'" collapse="fade">
  <ion-toolbar>
    <ion-searchbar class="mt-2 mb-2" animated [(ngModel)]='searchText' placeholder="Ürün arayın"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let product of products | productsFilterPipe : searchText">
    <ion-img src={{product.imageUrl}} class="img-fluid mx-auto" style="width: 65%;"></ion-img>

    <ion-card-header>
      <ion-card-title>
        {{productTitle(product.name)}}
        <span *ngIf="product.inventoryQuantity" class="badge bg-success" style="font-size: 12px;">{{
          product.inventoryQuantity }}</span>
        <span *ngIf="!product.inventoryQuantity" class="badge bg-danger" style="font-size: 12px;">Stokta Yok</span>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="row mx-auto" style="text-align: justify;">
        {{ product.name }}
        <p class="text-center mt-2" style="color: red; font-size: 30px;">{{product.price}} ₺</p>
      </div>

      <div class="row mt-3 mx-auto">
        <ion-button [disabled]="!product.inventoryQuantity" expand="block" class="w-75 mx-auto"
          (click)="addBasket(product.id)">
          Sepete Ekle
          <i class="fa fa-shopping-basket mx-2"></i>
        </ion-button>
      </div>

    </ion-card-content>



  </ion-card>


</ion-content>