<ion-header *ngIf="platformDetect() === 'ios'" collapse="condense">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/basket" text='Geri Dön'></ion-back-button>
    <ion-title>Ödeme Bilgileri</ion-title>
  </ion-toolbar>
</ion-header>


<ion-header *ngIf="platformDetect() === 'other'">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/basket"></ion-back-button>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Ödeme Bilgileri</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <form class="mt-4" [formGroup]='paymentForm'>

    <div class="text-center">
      <label for="exampleInputPassword1" class="form-label">Kart Sahibinin Adı</label>
      <input class="form-control mx-auto" type="text" placeholder="Ad soyad" id="exampleInputPassword1"
        style="width: 90%" formControlName="cartOwner">
    </div>

    <div class="text-center mt-4">
      <label for="exampleInputPassword1" class="form-label">Kart Numarası</label>
      <input class="form-control mx-auto" type="text" placeholder="12 haneli kart numaranızı giriniz" style="width: 90%"
        id="exampleInputPassword1" formControlName="cartNumber">
    </div>

    <ion-grid style="width: 95%">
      <ion-row>

        <ion-col size="6" size-sm>
          <div class="text-center mt-4">
            <label for="exampleInputPassword1" class="form-label">Son Kullanma Tarihi</label>
            <input class="form-control" type="text" id="exampleInputPassword1" placeholder="Son Kullanma Tarihi"
              formControlName="expirationDate">
          </div>
        </ion-col>

        <ion-col size="6" size-sm>
          <div class="text-center mt-4">
            <label for="exampleInputPassword1" class="form-label">CCV</label>
            <input class="form-control " type="text" id="exampleInputPassword1" placeholder="3 haneli CCV no"
              formControlName="cvv">
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

  </form>

  <ion-button *ngIf="!showBasketButton" color="light" expand="block" data-bs-toggle="collapse" data-bs-target="#content"
    (click)="showBasket()" style="width: 90%; margin: auto;" class="mt-3">
    Sepeti Göster
    <i class="fa-solid fa-arrow-down" style="margin-left: 5px;"></i>
  </ion-button>

  <ion-button *ngIf="showBasketButton" color="light" expand="block" data-bs-toggle="collapse" data-bs-target="#content"
    (click)="showBasket()" style="width: 90%; margin: auto;" class="mt-3">
    Sepeti Kapat
    <i class="fa-solid fa-arrow-up" style="margin-left: 5px;"></i>
  </ion-button>

  <div class="collapse" id="content">
    <ion-card *ngFor="let basket of baskets">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p style="text-align: justify; color: black; font-size: medium;">{{basket.product.name}}</p>
            </ion-col>

            <ion-col size="1" size-sm class="my-auto text-center">
              <span class="badge bg-success">
                {{basket.quantity}}
              </span>
            </ion-col>

            <ion-col size="4" size-sm class="mx-1 my-auto text-center">
              <ion-img src={{basket.product.imageUrl}}>
              </ion-img>
            </ion-col>

            <ion-col size="12" size-sm style="text-align: center;">
              <p class="text-center mt-2" style="color: red; font-size: 30px;">{{(basket.product.price *
                basket.quantity)
                | currency: '':'':'1.2'}} ₺</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>














<!-- footer  -->
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-grid>

      <ion-row class="text-center">
        <ion-col size="5" size-sm class="my-auto text-center">
          <span class="lead" style="font-size:25px"><strong id="totalPrice">{{totalPrice()}} ₺</strong></span>
        </ion-col>
        <ion-col size="7" size-sm class="my-auto">
          <ion-button color="secondary" style="padding: 5px" (click)="payment()">Ödemeye Yap</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>