<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>
     Ana Sayfa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="presentAlert()">Click Me</ion-button>
  
  <ion-card>
    <ion-img src='https://i.ytimg.com/vi/FulyL4oFj40/maxresdefault.jpg'></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <a routerLink='detail'>
        devamı...
      </a>
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <ion-img src='https://i.ytimg.com/vi/FulyL4oFj40/maxresdefault.jpg'></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <a routerLink='detail'>
        devamı...
      </a>
    </ion-card-content>
  </ion-card> 
  
  <ion-card>
    <ion-img src='https://i.ytimg.com/vi/FulyL4oFj40/maxresdefault.jpg'></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <a routerLink='detail'>
        devamı...
      </a>
    </ion-card-content>
  </ion-card> 


</ion-content>


