<ion-header *ngIf="platformDetect() === 'ios'" collapse="condense">
  <ion-toolbar>
    <ion-title slot="start" size="large" class="mt-3">Ürün Ekle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="platformDetect() === 'other'">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Ürün Ekle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="mt-5">
    <ion-card-content>

      <form class="login100-form" [formGroup]="productAddForm" (ngSubmit)="productAdd()">

        <div class="wrap-input101 m-b-23 mx-auto">
          <span class="label-input101">Ürün Adı</span>
          <input class="input101" type="text" formControlName="name">
          <span class="focus-input101"></span>
        </div>

        <div class="wrap-input101 m-b-23 mx-auto">
          <span class="label-input101">Ürün Resmi</span>
          <input class="input101" type="text" formControlName="imageUrl" [(ngModel)]="imageUrl">
          <span class="focus-input101"></span>

          <ion-card *ngIf="imageUrl !== ''">
            <ion-card-content>
              <ion-img class="img-responsive rounded" [src]="imageUrl"></ion-img>
            </ion-card-content>
          </ion-card>
        </div>

        <div class="wrap-input101 m-b-23 mx-auto">
          <span class="label-input101">Ürün Stok Adedi</span>
          <input class="input101" type="number" formControlName="inventoryQuantity">
          <span class="focus-input101"></span>
        </div>

        <div class="wrap-input101  m-b-23 mx-auto">
          <span class="label-input101">Ürün Fiyatı</span>
          <input class="input101" type="number" formControlName="price">
          <span class="focus-input101"></span>
        </div>


        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
              Gönder
            </button>
          </div>
        </div>
      </form>

      
   


    </ion-card-content>
  </ion-card>

  <div id="dropDownSelect1"></div>


  <!-- style="background-image: url('../../../assets/images/bg-01.jpg');" -->


</ion-content>