<ion-header *ngIf="platformDetect() === 'ios'" collapse="condense" class="mt-4">
  <ion-toolbar>
    <ion-title size="large">Sepet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="platformDetect() === 'other'">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Sepet</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let basket of baskets">
    <ion-card-content>
      <ion-grid>
        <p style="text-align: justify; color: black; font-size: medium;">{{basket.product.name}}</p>
        <ion-row class="mt-2">

          <ion-col size="1" size-sm style="margin-right: 10px;" class="my-auto">
            <ion-checkbox checked="true"></ion-checkbox>
          </ion-col>

          <ion-col size="4" size-sm class="mx-1 my-auto">
            <ion-img src={{basket.product.imageUrl}}>
            </ion-img>
          </ion-col>

          <ion-col size="2" size-sm class="my-auto">
            <button [disabled]="basket.product.inventoryQuantity == 0" class="btn btn-sm btn-success"
              (click)="increase(basket)">
              <i class="fa-solid fa-plus"></i>
            </button>
          </ion-col>

          <ion-col size="2" size-sm class="my-auto mx-auto">
            <ion-input type="number">
              {{basket.quantity}}
            </ion-input>
          </ion-col>

          <ion-col *ngIf="basket.quantity > 1" size="2" size-sm class="my-auto">
            <button class="btn btn-sm btn-warning" (click)="reduce(basket)">
              <i class="fa-solid fa-minus"></i>
            </button>
          </ion-col>

          <ion-col *ngIf="basket.quantity == 1" size="2" size-sm class="my-auto">
            <button class="btn btn-sm btn-danger" (click)="delete(basket)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm style="text-align: center;">
            <p class="text-center mt-2" style="color: red; font-size: 30px;">{{basket.product.price}} ₺</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>




<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-grid>

      <ion-row class="text-center">
        <ion-col size="5" size-sm class="my-auto text-center">
          <span class="lead" style="font-size:30px"><strong id="totalPrice">{{totalPrice()}} ₺</strong></span>
        </ion-col>
        <ion-col size="7" size-sm class="my-auto">
          <ion-button color="dark" style="float: right;" routerLink='payment'>Ödemeye Geç</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>