<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink='/tabs'>
      <ion-label>Ana sayfa</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink='/tabs/basket'>
      <ion-label>Sepet</ion-label>
      <ion-icon name="basket-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button routerLink='/tabs/orders'>
      <ion-label>Siparişler</ion-label>
      <ion-icon name="reorder-four-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>