<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Harita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>


      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385398.58980944555!2d28.731992474217478!3d41.00498228211718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1657027357423!5m2!1str!2str"
        style="border:0; margin: 0;" allowfullscreen="" loading="lazy" width="345" height="550"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </ion-card-content>
  </ion-card>

</ion-content>